.allProductsSection{
    min-height: 100vh;
}

.allproductsheading{
    text-align: center;
    padding-top: 30px;
    font-size: 2rem;
}

.img-container {
    width: 400px; 
    height: auto;
    margin: 0 auto; 
    overflow: hidden;
  }
  
  .product-image {
    width: 85%; 
    height: auto; 
    object-fit: cover; 
  }
  
  .box {
    width: 400px;
    margin: 10px; 
  }
  